In [95]:
import pandas as pd # for generating dataframes and data exploration
from random import randint #helps to generate random numbers

In [96]:
# MAIN CODE/FUNCTION
def get_true_false(data_frame, randomArray): #create a function to get boolean values
    output_array = [] # an empty array to store new dataframe from for loop
    for row in range(len(data_frame)): #loop through the rows of the dataframe
        temp = [] #a temporary array to store the boolean comparison for each row
        
        
        for col in range(len(data_frame.iloc[row])):
            if data_frame.iloc[row, col] > randomArray[row]: #if the value in the dataframe is greater than the random being looped through
                temp.append(True) #append true to the temporary array
            else: #address scenarios that dont meet the condition above
                temp.append(False)
        output_array.append(temp)

    
    return pd.DataFrame(data=output_array) # return a dataframe from the output_array

In [97]:

# THE CODE BELOW IS FOR TESTING PURPOSES ONLY
random_list = [randint(0,10001) for i in range(10)] # create a list of 10 random numbers between 1 and 10000

random_dataframe = [] # create an empty list to store the random numbers from the for loop below

for i in range(10): #loop through 0 and 9
    random_dataframe.append([randint(0,10000) for i in range(500)]) #create a list of 500 random numbers and append to random_dataframe

df = pd.DataFrame(data=random_dataframe) #create a dataframe from the random_dataframe

print(random_list)
df

[8997, 8391, 468, 7910, 740, 4116, 4213, 5305, 1462, 7770]

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,331,652,5263,3428,751,3989,5372,8214,7757,8668,...,6386,5173,4453,26,7740,17,7650,8578,9938,2784
1,7824,7372,4619,9760,7127,5411,3656,9733,8676,3301,...,3131,6293,1175,4477,4420,7005,9810,7482,7341,5920
2,3141,4073,5558,5791,6866,9529,3968,188,4069,9064,...,8588,6075,8319,8722,5615,6125,1166,3983,7152,6262
3,8757,9593,409,4169,3074,8643,3062,9465,3914,2195,...,1190,3813,775,2249,5460,7459,1829,4963,661,7962
4,5764,8726,8386,3411,183,634,3475,8550,1654,3345,...,9307,4541,6616,4666,4042,5527,3445,6241,8081,2572
5,2351,4965,3627,730,951,7121,8308,3626,7946,3196,...,4798,8079,4020,5467,2526,1122,4583,8604,6023,7945
6,389,7122,3116,1526,6532,2448,2584,251,1371,6382,...,5646,8575,3906,7594,9819,6334,7916,8374,2757,986
7,2641,373,1955,5609,7222,883,617,413,6374,6924,...,2064,6951,8567,8939,4222,8077,6881,6356,1562,5851
8,3223,8781,7038,7353,7212,6905,1513,8556,9461,9742,...,4180,1039,2093,5724,2405,3362,57,8918,4015,6647
9,5578,5448,1539,1956,5687,3227,2417,670,3791,9219,...,5913,6239,763,3619,9004,1846,5746,3290,743,8216

In [98]:
get_true_false(df, random_list) #call the function to get the boolean values

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,True,False,False,False,True,True,False,...,False,False,False,False,False,False,True,False,False,False
2,True,True,True,True,True,True,True,False,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
4,True,True,True,True,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5,False,True,False,False,False,True,True,False,True,False,...,True,True,False,True,False,False,True,True,True,True
6,False,True,False,False,True,False,False,False,False,True,...,True,True,False,True,True,True,True,True,False,False
7,False,False,False,True,True,False,False,False,True,True,...,False,True,True,True,False,True,True,True,False,True
8,True,True,True,True,True,True,True,True,True,True,...,True,False,True,True,True,True,False,True,True,True
9,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,True,False,False,False,False,True